repository: {{ .ProviderURL}}/{{ .User }}/{{ .Program }}
user: {{ .User }}
program: {{ .Program }}{{if .AsProgram }}
as: {{ .AsProgram }}{{end}}
release: {{ .Release }}
move-into-path: {{ .MoveToPath }}
private: {{ .Private }}
platform: {{ .Platform }}

release assets:
{{ range .Assets }}  {{ .Key }}
    url:    {{ .DownloadURL }}
{{end}}
has-m1-asset: {{ .M1Asset }}

to see shell script, append ?type=script
for more information on this server, visit:
  https://github.com/aljabri00056/installer


